@page "/"
@inject IServiceMovie movie
<div class="jumbotron">
    <MovieCardComponent Movies = "Movies"></MovieCardComponent>
</div>
@code{
    private List<Movie>Movies;
    protected override void OnInitialized(){
        Movies = movie.GetMovies();
    }
}
